.weather{
    border: 1px solid #dadde1;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(222, 226, 209);
    padding: 16px;
    margin-top: 200px;
    border-radius: 4px;
    background-image: url("../image/backendimage.jpg");
  
  }
  .weather h1{
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin: 20px 0 0 0;

  }
  .weather ul{
    margin: 0;
    padding: 0;
  }
  .weather li{
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
margin-right: 5px;
  }
  .weather canvas{
   margin: 10px auto;
  }

  .weather .temperature{
    font-weight: bold;
    color: rgb(36, 35, 35);
    line-height: 73px;
    font-size: 64px;
    font-weight: 400;
    margin-left: 10px;
  }
  .weather .unit{ 
    color: rgb(55, 54, 54);
    font-size: 16px;
    font-weight: 400;
    position: relative;
    top: -34px;
  }
  .d-flex{
    margin-top: 20px;
  }
  .speed{
    margin-top: 30px;
  }
 .from-control{
    width: 100% !important;

  }